.default-color0.chart-series-line { -fx-stroke: green; }
.default-color1.chart-series-line { -fx-stroke: transparent; }
.default-color2.chart-series-line { -fx-stroke: transparent; }


.default-color0.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}
.default-color1.chart-line-symbol {
    -fx-background-color: transparent, blue;
}
.default-color2.chart-line-symbol {
    -fx-background-color: transparent, red;
}

